tests/structure/data/* linguist-vendored
tests/sequence/data/* linguist-vendored
src/biotite/sequence/align/matrix_data/* linguist-vendored
src/biotite/structure/info/ccd/components.bcif filter=lfs diff=lfs merge=lfs -text
