html {
    --pst-font-family-base: "Fira Sans", "Helvetica", "Sans-Serif";
    --pst-font-family-heading: "Crete Round", "Sans-Serif";
    --pst-font-weight-heading: 300;
}

html[data-theme="light"] {
    --pst-color-primary: #dc7000ff;
    --pst-color-primary-highlight: #b45c00ff;
    --pst-color-secondary: #389a1aff;
    --pst-color-secondary-highlight: #2b6f00ff;
    --pst-color-accent: #dc7000ff;
    --pst-color-inline-code: #b45c00ff;
    --pst-color-inline-code-links: #b45c00ff;
    --pst-color-table-row-hover-bg: #ffb569ff;
}

html[data-theme="dark"] {
    --pst-color-primary: #ff982dff;
    --pst-color-primary-highlight: #dc7000ff;
    --pst-color-secondary: #52da2aff;
    --pst-color-secondary-highlight: #389a1aff;
    --pst-color-accent: #ff982dff;
    --pst-color-inline-code: #ff8405ff;
    --pst-color-inline-code-links: #ff8405ff;
    --pst-color-table-row-hover-bg: #b45c00ff;
}


/* Separation between methods in the API reference */
.py.method, .py.attribute{
    border-top: 1px solid #888888;
    padding-top: 30px;
    padding-bottom: 30px;
}


.sphx-glr-multi-img{
    max-width: 99% !important;
}

div.sphx-glr-download {
    width: auto !important;
}

div.sphx-glr-download a {
   background-color: #ffb569ff !important;
   border: 1px solid #ff982dff !important;
   background-image: none !important;
}

div.sphx-glr-download-link-note {
   display: none !important;
}

.sphx-glr-thumbcontainer a.internal {
    font-weight: 400;
}
