html {
    --pst-font-family-base: "Fira Sans", "Helvetica", "Sans-Serif";
    --pst-font-family-heading: "Crete Round", "Sans-Serif";
    --pst-font-weight-heading: 300;
}


/* Separation between methods in the API reference */
.py.method, .py.attribute{
    border-top: 1px solid #888888;
    padding-top: 30px;
    padding-bottom: 30px;
}


.sphx-glr-multi-img{
    max-width: 99% !important;
}

div.sphx-glr-download {
    width: auto !important;
}

div.sphx-glr-download a {
   background-color: #ffb569ff !important;
   border: 1px solid #ff982dff !important;
   background-image: none !important;
}

div.sphx-glr-download-link-note {
   display: none !important;
}

.sphx-glr-thumbcontainer a.internal {
    font-weight: 400;
}
